<section>
  <div class="page-header">
    <h1>Interests</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="interest in vm.interests"
       data-ui-sref="interests.view({ interestId: interest._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="interest.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="interest.user" data-ng-bind="interest.user.displayName"></span>
        <span data-ng-if="!interest.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="interest.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.interests.$resolved && !vm.interests.length">
    No Interests yet, why don't you <a data-ui-sref="interests.create">create one</a>?
  </div>
</section>
